#handbook * {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
html,
body {
	background-color: #e7ebee;
	font-family: 'Open Sans', sans-serif;
}
#handbook h4 {
	text-align: center;
	padding: 2%;
	letter-spacing: 2px;
	text-transform: capitalize;
	cursor: pointer;
}
#handbook .menu {
    display: flex;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
    font-weight: bold;
	background-color: #34495e;
    justify-content: flex-end;
    margin-bottom: 1%;
}
#handbook .link {
	text-align: center;
	padding: 1%;
    transition: background-color 0.5s ease;
}
#handbook .link:hover {
    background-color: #8da6c0;
}
#handbook .menu a {
	color: white;
	text-decoration: none;
}
#handbook h2 {
	text-align: center;
	padding: 1%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	background-color: #34495e;
}
#handbook .tile {
	margin-bottom: 10px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	background-color: white;
	text-align: justify;
}
#handbook .section {
	margin-bottom: 1%;
}
#handbook .score {
	float: right;
}
#handbook .full .sizer {
	width: 100%;
}
#handbook .full .gutter {
	width: 0;
}
#handbook .full .tile {
	width: 100%;
}
#handbook .full h4 {
	display: none;
}
#handbook .full .rating {
	display: none;
}
#handbook .full .icon {
	display: none;
}
#handbook .full .score {
	display: none;
}
#handbook .full p {
	padding-bottom: 1%;
}
#handbook .full .desc {
	padding: 1%;
}
#handbook .full .changelog {
	padding: 1%;
}
#handbook .third h2 {
	display: none;
}
#handbook .third p {
	padding: 1% 3% 1% 3%;
}
@media all and (min-width: 1201px) {
	#handbook .third .sizer {
		width: 33%;
	}
	#handbook .third .gutter {
		width: 0.5%;
	}
	#handbook .third .tile {
		width: 33%;
	}
	#handbook .full .desc {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px;
		column-gap: 40px;
	}
}
@media all and (max-width: 1200px) and (min-width: 701px) {
	#handbook .third .sizer {
		width: 49.5%;
	}
	#handbook .third .gutter {
		width: 1%;
	}
	#handbook .third .tile {
		width: 49.5%;
	}
}
@media all and (max-width: 700px) {
	#handbook .third .sizer {
		width: 100%;
	}
	#handbook .third .gutter {
		width: 0;
	}
	#handbook .third .tile {
		width: 100%;
	}
    #handbook .menu {
        flex-direction: column;
    }
}
#handbook .blue .blue {
	color: white;
	background-color: #5178e9;
}
#handbook .red .red {
	color: white;
	background-color: #ff6e6e;
}
#handbook .black .black {
	color: white;
	background-color: #34495e;
}
#handbook .navy .navy {
	color: white;
	background-color: #952092;
}
#handbook .toggleBlack {
	color: white;
	background-color: #A3AAB2;
}
#handbook .rating {
	background: url(check.svg) no-repeat;
	background-position: 0 0;
	height: 20px;
	width: 20px;
	float: left;
}
#handbook .icon {
	padding: 2%;
	height: 20px;
}
#handbook .icon .beast,
#handbook .icon .summoner,
#handbook .icon .master {
	display: none;
	float: right;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
#handbook .beast .beast {
	display: inline;
	background: url(beast.svg) no-repeat;
}
#handbook .summoner .summoner {
	display: inline;
	background: url(summoner.svg) no-repeat;
}
#handbook .master .master {
	display: inline;
	background: url(master.svg) no-repeat;
}
#handbook .book {
	font-weight: bold;
	float: left;
	cursor: pointer;
	letter-spacing: 1px;
}
#handbook .book:before {
	text-transform: capitalize;
}
#handbook .ecs .book:before {
	content: "eberron campaign setting";
}
#handbook .dmg .book:before {
	content: "dungeon master's guide";
}
#handbook .dmg2 .book:before {
	content: "dungeon master's guide II";
}
#handbook .mm1 .book:before {
	content: "monster manual I";
}
#handbook .mm2 .book:before {
	content: "monster manual II";
}
#handbook .mm3 .book:before {
	content: "monster manual III";
}
#handbook .mm4 .book:before {
	content: "monster manual IV";
}
#handbook .mm5 .book:before {
	content: "monster manual V";
}
#handbook .phb .book:before {
	content: "player's handbook";
}
#handbook .phb2 .book:before {
	content: "player's handbook II";
}
#handbook .boed .book:before {
	content: "book of exalted deeds";
}
#handbook .cv .book:before {
	content: "complete adventurer";
}
#handbook .city .book:before {
	content: "cityscape";
}
#handbook .ca .book:before {
	content: "complete arcane";
}
#handbook .cc .book:before {
	content: "complete champion";
}
#handbook .cd .book:before {
	content: "complete divine";
}
#handbook .cpsi .book:before {
	content: "complete psionic";
}
#handbook .cs .book:before {
	content: "complete scoundrel";
}
#handbook .cw .book:before {
	content: "complete warrior";
}
#handbook .cm .book:before {
	content: "complete mage";
}
#handbook .drac .book:before {
	content: "draconomicon";
}
#handbook .ds .book:before {
	content: "dungeonscape";
}
#handbook .ee .book:before {
	content: "elder evils";
}
#handbook .xph .book:before {
	content: "expanded psionics handbook";
}
#handbook .eoe .book:before {
	content: "exemplars of evil";
}
#handbook .ff1 .book:before {
	content: "fiendish codex I";
}
#handbook .ff2 .book:before {
	content: "fiendish codex II";
}
#handbook .fb .book:before {
	content: "frostburn";
}
#handbook .hob .book:before {
	content: "heroes of battle";
}
#handbook .hoh .book:before {
	content: "heroes of horror";
}
#handbook .lm .book:before {
	content: "libris mortis";
}
#handbook .lom .book:before {
	content: "lords of madness";
}
#handbook .moi .book:before {
	content: "magic of incarnum";
}
#handbook .mic .book:before {
	content: "magic item compendium";
}
#handbook .mh .book:before {
	content: "miniatures handbook";
}
#handbook .plh .book:before {
	content: "planar handbook";
}
#handbook .rod .book:before {
	content: "races of destiny";
}
#handbook .roe .book:before {
	content: "races of eberron";
}
#handbook .rof .book:before {
	content: "races of faerun";
}
#handbook .ros .book:before {
	content: "races of stone";
}
#handbook .rotd .book:before {
	content: "races of the dragon";
}
#handbook .rotw .book:before {
	content: "races of the wild";
}
#handbook .sand .book:before {
	content: "sandstorm";
}
#handbook .ss .book:before {
	content: "savage species";
}
#handbook .spc .book:before {
	content: "spell compendium";
}
#handbook .sw .book:before {
	content: "stormwrack";
}
#handbook .tob .book:before {
	content: "tome of battle";
}
#handbook .tom .book:before {
	content: "tome of magic";
}
#handbook .ua .book:before {
	content: "unearthed arcana";
}
#handbook .wol .book:before {
	content: "weapons of legacy";
}
#handbook .ff .book:before {
	content: "fiend folio";
}
#handbook .ecs .book:before {
	content: "eberron campaign setting";
}
#handbook .dmr .book:before {
	content: "dragonmarked";
}
#handbook .doe .book:before {
	content: "dragons of eberron";
}
#handbook .eh .book:before {
	content: "explorer's handbook";
}
#handbook .foe .book:before {
	content: "faiths of eberron";
}
#handbook .f5n .book:before {
	content: "five nations";
}
#handbook .fow .book:before {
	content: "forge of war";
}
#handbook .moe .book:before {
	content: "magic of eberron";
}
#handbook .pgte .book:before {
	content: "player's guide to eberron";
}
#handbook .sos .book:before {
	content: "secrets of sarlona";
}
#handbook .sox .book:before {
	content: "secrets of xen'drik";
}
#handbook .cot .book:before {
	content: "sharn, city of towers";
}
#handbook .cor .book:before {
	content: "champions of ruin";
}
#handbook .cov .book:before {
	content: "champions of valor";
}
#handbook .dof .book:before {
	content: "dragons of faerun";
}
#handbook .leof .book:before {
	content: "lost empires of faerun";
}
#handbook .pof .book:before {
	content: "power of faerun";
}
#handbook .sk .book:before {
	content: "serpent kingdoms";
}
#handbook .sso .book:before {
	content: "shining south";
}
#handbook .ue .book:before {
	content: "unapproachable east";
}
#handbook .und .book:before {
	content: "underdark";
}
#handbook .wtd .book:before {
	content: "waterdeep";
}
#handbook .mof .book:before {
	content: "monsters of faerun";
}
#handbook .size,
#handbook .type,
#handbook .spd,
#handbook .att,
#handbook .str,
#handbook .con,
#handbook .dex,
#handbook .nat,
#handbook .spc,
#handbook .tot,
#handbook .def,
#handbook .off {
	cursor: pointer;
	letter-spacing: 1px;
	padding: 0.5% 2% 0.5% 2%;
	text-transform: capitalize;
}
#handbook .desc :before {
	font-weight: bold;
}
#handbook .desc .size:before {
	content: "Size: ";
}
#handbook .desc .type:before {
	content: "Type: ";
}
#handbook .desc .spd:before {
	content: "Speed: ";
}
#handbook .desc .att:before {
	content: "Attacks: ";
}
#handbook .desc .str:before {
	content: "Strength: ";
}
#handbook .desc .dex:before {
	content: "Dexterity: ";
}
#handbook .desc .con:before {
	content: "Constitution: ";
}
#handbook .desc .nat:before {
	content: "Natural Armor: ";
}
#handbook .desc .spc:before {
	content: "Special: ";
}
#handbook .desc .tot:before {
	content: "Total Score: ";
}
#handbook .desc .off:before {
	content: "Offensive Score: ";
}
#handbook .desc .def:before {
	content: "Defensive Score: ";
}
